body {
    background-color: #6815ea
}
@font-face {
   font-family: myFirstFont;
   src: url("/fonts/Oregon LDO Black.ttf");
    color:white;
}

@font-face {
   font-family: mySecondFont;
   src: url("/fonts/Oregon LDO Medium.ttf");
    color:white;
}

h2 {
   font-family: myFirstFont;
   color: white;
}
p {
   font-family: myFirstFont;
   color: white;
}
h1 {
   font-family: myFirstFont;
   color: white;
}
h3 {
   font-family: myFirstFont;
   color: white;
}
h4 {
   font-family: mySecondFont;
   color: white;
}
h5 {
   font-family: mySecondFont;
   color: white;
}

legend { 

                background-color:#6815ea;
                color:white;;
                font-family: mySecondFont;
            }